@use "../common/colours" as *;
@use "../common/reusable" as *;
@use "../common/type" as type;

@include css-select ($white,$black);

* {
	box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    -webkit-text-size-adjust: 100%;
}

a,input[type="submit"],button {
	cursor: pointer;
	@include no-select;
}

a {
	color: inherit;
	text-decoration: none;
	@include no-select;
}

img {
	@include no-select;
}

// Variables
// -------------------------------------

$maxWrapperWidth: 1280px;
$minWrapperWidth: 980px;
$minWrapperHeight: 600px;
$outerMarginWidth: 88px;

// Layout
// -------------------------------------

body, html {
	width: 100%;
	height: 100%;
	color: $black;
}

.wrapper {
	position: relative;
	background: $white;
	overflow: hidden;
	width:100%;
	height:100%;
	min-height:$minWrapperHeight;
	margin:0 auto;
}


// Credits overlay

.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align: center;
	background: $white;
	z-index:1000;
	// @include animate(1s);
	display:none;
	// opacity: 0;

	&.for-history {
		.warning-wrapper {
			display: none;
		}
		.history-wrapper {
			display: block;
		}
	}

	&.for-warning {
		.warning-wrapper {
			display: block;
		}
		.history-wrapper {
			display: none;
		}
	}
}

.close-btn {
	position: absolute;
	top: 26px;
	right: 34px;
	text-decoration: none;
	width: 24px;
	height: 24px;
	margin: 5px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image:url(../../cole/gfx/close.svg);
	z-index: 10;
}

.warning-wrapper {
	width: 80%;
	max-width: 400px;
	min-height: 200px;
	margin-left:auto;
	margin-right: auto;
	@include translate-center;
	z-index: 1;
}

.history-wrapper {
	text-align: left;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	padding:30px $outerMarginWidth $outerMarginWidth $outerMarginWidth;
	z-index: 1;

	.history-title {
		width: 50%;
	}
}

.history-objects-wrapper {
	width: calc(100% + 88px);
	height: calc(100% + 76px);
    margin-left: -44px;
	overflow: scroll;
}

.history-object {
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: center;
	width: calc(25% - 88px);
	min-width: 220px;
	height: calc(50vh - 220px);
	min-height: 220px;
	margin: 88px 44px 44px 44px;
	
	&:hover {
		
		.history-object-image-holder {
			opacity: 0.15;
		}

		.history-object-info {
			opacity: 1;
		}
	}
}

.history-object-image-holder {

	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	@include animate(500ms);
	opacity: 1;

}

.history-object-info {
	position: absolute;
	width: calc(100% - 20px);
	left: 10px;
	// background: white;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	@include animate(500ms);
}

.image-holder-for-loading {
	visibility: hidden;
}

.overlay.closed {
	// display:none;
	// opacity: 0;
}

.overlay.open {
	// display:block;
	// opacity: 1;
}


// Outer margins

.left-margin, .right-margin {
	width: $outerMarginWidth;
	height: 100%;
	position: absolute;
	top:0;
}

 .top-margin {
	// width: 100%;
	height: $outerMarginWidth;
	// position: absolute;
	// top:0;
	// left:0;
	background-color: white;
	z-index: 1;
}

.left-margin {
	left:0;
}

.right-margin {
	right:0;
	position:fixed;
	z-index:100;
}

.object-caption-wrapper {
	position: relative;
	max-width: 840px;
	margin: 36px auto 0 auto;
}

.object-caption {
	@include type.smallText;
    opacity: 0;
    @include animate(500ms);
    height: 52px;
    // border-bottom: 1px solid $lightGrey;
    margin-left: $outerMarginWidth;
    margin-right: $outerMarginWidth;

    &.reveal {
    	opacity: 1;
    }
}

// .object-side-caption {
// 	@include smallText;
// 	width: 65vh;
//     height: 20px;
//     left: 40px;
//     position: absolute;
//     transform: rotate(-90deg) translateX(-50%) translateY(-50%);
//     transform-origin: top left;
//     top: 50vh;
//     opacity: 0;
//     @include animate(500ms);

//     &.reveal {
//     	opacity: 1;
//     }
// }


.icon {
	display: inline-block;
	text-decoration: none;
	width: 44px;
	height: 32px;
	// margin: 5px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@include animate(500ms);

	&.pinterest {
		background-image:url(../../cole/gfx/pinterest.svg);

		&:hover {
			transform: scale(1.1);
		}
	}
	&.twitter {
		background-image:url(../../cole/gfx/twitter.svg);

		&:hover {
			transform: scale(1.1);
		}
	}
	&.original-link {
		background-image:url(../../cole/gfx/link.svg);

		&:hover {
			transform: scale(1.1);
		}
	}
	&.settings {
		background-image:url(../../cole/gfx/settings.svg);
		opacity: 0.25;
	}
	&.history {
		background-image:url(../../cole/gfx/history.svg);
	}
	&.more {
		background-image:url(../../cole/gfx/more.svg);
	}
}

.utility-icons {

	text-align: right;
	margin-right: 36px;
	margin-top: 28px;

	.icon {
		opacity: 0.85;
		&:hover {
			opacity: 1;
		}
		width: 28px;
		height: 26px;
	}
}


// Main content area
// ----------------------------------

.content-area {
	position: relative;
	height:100%;
	z-index: 0;
	// background-color: $lightGrey;
}

// Text area

.text-content-column {
	height: calc(100vh - 88px); //$outerMarginWidth
	overflow: auto;
}

.object-header {
	text-align: center;
	height: calc(100vh - 88px); //$outerMarginWidth
    position: relative;
    max-width: 700px;
    margin: 0 auto;

    @include animate(500ms);

    &.hide {
    	opacity: 0;
    }
}

.object-header-inner {
	position: relative; 
	@include vertical-centre(calc(50% - 44px)); // half of top margin height 88px
	margin-left: $outerMarginWidth;
	margin-right: $outerMarginWidth;
}

.object-text {
	min-height: 70vh;
    padding-bottom: 24px;
    max-width: 840px;
    margin: 0 auto;
}

.text-block {
	margin-top:30px;
	margin-left: $outerMarginWidth;
    margin-right: $outerMarginWidth;
}

.down-arrow {
	width:22px;
	height:40px;
	background-image:url(../../cole/gfx/chevron.svg);
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 80px;
	left: calc(50% - 14px);
	cursor: pointer;
	opacity: 1;

	animation-name: bounce;
  	animation-duration: 1.5s;
  	animation-iteration-count: infinite;
  	animation-fill-mode: both;
  	animation-timing-function: ease-in-out;

	@include animate(500ms);

	&:hover {
		transform: translateY(5px);
		animation-play-state: paused;
	}

	&.hide {
		opacity: 0;
	}
}

.keyboard-hint {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 80px);
	text-align: center;
	opacity: 0.7;
	@include animate(500ms);
	
	&:hover {
		opacity: 1;
	}
	
	kbd {
		background-color: #f7f7f7;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		color: #333;
		display: inline-block;
		font-size: 0.85em;
		font-weight: 700;
		line-height: 1;
		padding: 2px 4px;
		white-space: nowrap;
	}
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


// Image area

.image-content-column {
	height: calc(100vh - 88px); //$outerMarginWidth
}

.object-image-wrapper {
	position: relative;
	// height:100%;
	@include vertical-centre(calc(50% - 44px));
}

.object-image {
	position: relative;
	margin:0 auto;
	z-index: 1;
}

.object-image img {
	display:block;
	margin:0 auto;
	max-width:calc(100% - 176px); // 2x $outerMarginWidth
	max-height:70vh;

	&:hover {

		& + .hide-until-hover {
		
			opacity: 1 !important;
		}
	}
}

.share-icons {
	position: absolute;
	top: calc(50% - 16px);
	left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
	text-align: center;
	z-index: 2;

	&:hover {
		opacity: 1;
	}
}


// More info panel - includes about, settings etc.

.side-panel {
	box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
}

.more-info {
	position: absolute;
	height: 100vh;
	overflow: hidden;
	width:488px;
	right:0;
	top:0;
	background-color:$white;
	@include animate(500ms);
	transform: translateX(calc(100% + 5px));

	&.open {
		transform: translateX(0);
	}
}

.more-info .text-content {
	// border-top: 1px solid $lightGrey;
	margin:42px;
	height: calc(100vh - 155px);
    overflow: scroll;

	h4 {
		margin-top: 2em;
		margin-bottom: 0.5em;
	}
}

.object-image-copyright {

	margin-top:30px;
	padding-top: 1em;
	border-top: 1px solid $lightGrey;

	.side-panel & {

		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(100% - 84px);
		height: $outerMarginWidth;
		margin-left: 42px;
		margin-right: 42px;
		padding-top: 1.5em;
    	padding-bottom: 1em;
		border-top: 1px solid $lightGrey;
		background-color: white;
	}
}



// Empty states and load handling

.content-placeholder {
}

.hide-until-hover,
.hide-until-loaded,  
.image-hide-until-loaded,
.history-hide-after-loaded.loaded,
.hide-after-loaded.loaded
{
	opacity: 0;
	@include animate(1s);
}

.hide-until-loaded, 
.image-hide-until-loaded
{
	&.loaded {
		opacity: 1;
	}
}

.history-hide-after-loaded {
	opacity: 1;
}

// loader 

.loading {
	position: absolute;
	text-align:center;
	@include vertical-centre(calc(50% - 88px));
	left: 50%;
	display: inline-block;
}

.loading div {
  display: inline-block;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  background: $black;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading div:nth-child(2) {
  animation-delay: .2s;
}

.loading div:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: .2;
    transform: translateY(0);
  }
}


// MISC GLOBAL ELEMENTS
// -------------------------------------



// HEADER && FOOTER
// ------------------------------------

// IMAGE PLACEHOLDER STYLES
.image-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 300px;
	text-align: center;
	padding: 0 88px; // $outerMarginWidth on both sides
	max-width: 700px; // Match object-header max-width
	margin: 0 auto;
	
	p {
		margin: 0 0 10px 0;
		@include type.regular;
		line-height: 1.4;
		
		&:first-child {
			@include type.medium;
			@include type.largeText;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	small {
		@include type.regular;
		@include type.smallText;
	}
}
